{% extends "base.html" %}

{% block content %}

<div style="max-width:600px; margin:auto;">
    <h2>About Developer</h2>

    <h3>Mubinaxon Gafurovna</h3>
    <p><strong>Kasbi:</strong> Python & Django Backend Developer</p>
    <p><strong>Tajriba:</strong> 3 oy+ tajriba</p>

    <p>
        Men zamonaviy web ilovalar, REST API va to‘liq backend tizimlar yaratish bilan shug‘ullanaman.
        Django, PostgreSQL va API integratsiyalar bilan ishlayman.
        Maqsadim — xavfsiz, tezkor va foydalanuvchi uchun qulay platformalar yaratish.
    </p>

    <hr>

    <h4>📞 Kontakt ma'lumotlari</h4>

    <p>
        <strong>Telefon:</strong>
        <a href="tel:+998912345678">+998 91 234 56 78</a>
    </p>

    <p>
        <strong>Email:</strong>
        <a href="mailto:mub1nakhano22@gmail.com">
            mub1nakhano22@gmail.com
        </a>
    </p>

    <p>
        <strong>Telegram:</strong>
        <a href="https://t.me/programiistt" target="_blank">
            @programiistt
        </a>
    </p>

    <p>
        <strong>Instagram:</strong>
        <a href="https://instagram.com/mub1nakhan.o6" target="_blank">
            @mub1nakhan.o6
        </a>
    </p>

    <p>
        <strong>GitHub:</strong>
        <a href="https://github.com/mub1nakhan" target="_blank">
            github.com/mub1nakhan
        </a>
    </p>

    <p><strong>Manzil:</strong> Toshkent, O'zbekiston</p>

</div>

{% endblock %}